<%# Copyright 2016 Prateek Sanyal and Steven Dee.
  # All rights reserved.
%>
<div class="container">
  <h1>Log In</h2>
  <div class="well col-md-6">
    <%= form_tag '/login' do %>
      <fieldset class="form-group">
        <label for="email">Email</label>
        <%= text_field_tag :email, nil, class: "form-control"%>
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password</label>
        <%= password_field_tag :password, nil, class: "form-control"%>
      </fieldset>
      <%= submit_tag 'Submit', class: "btn btn-primary" %>
    <% end %> 
  </div>
  <div class="col-md-6">
  </div>
</div>
