<h1>Campaigns</h1>
<% if @campaigns.any? %>
  <ul>
    <% @campaigns.each do |campaign| %>
      <li class="campaign">
        <strong>
          <%= link_to campaign.title, campaign, class: 'title' %>
        </strong>
        <span class="requisite_funding">
          <%# TODO(someday): currency i18n %>
          ($<%= campaign.requisite_funding %>)
        </span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no campaigns.
  <%= link_to 'Why not create one?', new_campaign_path %>
<% end %>
